{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}login{% endblock %}
{% block nav %}
{% endblock %}
{% load static %}
{% block body %}
<style>
    body{
    background-image: url("{% static 'img/bg.jfif' %}");
    background-repeat: no-repeat;
    background-size: cover;
    }
    form{
        margin-top: 5rem;
    }
    #hint_id_new_password1,#hint_id_new_password2{
        display: none;
    }
</style>

<div class="container d-flex justify-content-center mt-20 ">
    
    <form id="form" action="" method="post" class="w-40 mx-0 shadow-lg p-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h2 class="text-center p-3 mb-2 bg-secondary text-white">ResetPasswordForm</h2>
        {% csrf_token %}
        {{form|crispy}} <br>
        <input type="submit" value="submit" class="btn btn-primary w-100" >
       
    </form>
</div>
{% endblock %}